.container {
    width: 100%;
    margin-top: 2rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .links {
        color: #f9d3b4;
        text-decoration: none;
    }
}

@media screen and (max-width: 700px) {
    .container {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .container {
        margin-top: 1rem;
    }
}