.movie-trailer-modal {
    position: fixed;
    inset: 0;
    z-index: 298;
    width: 100%;
    height: 100%;
    background: #1c1d1fb2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .btn-close-modal-container {
        max-width: 720px;
        width: 100%;
        padding: 1rem 1.5rem;
        background: #000;
        font-size: 1.2rem;
        color: #f0f0f0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .btn-close-modal {
        width: 2.2rem;
        background: none;
        border: none;
        border-radius: 8px;
        font-size: 2rem;
        color: #f0f0f0;
      
        cursor: pointer;
        transition: background .2s;

        &:hover {
            background: #1c1d1f;
        }
    }
    
    .movie-trailer-video {
        max-width: 720px;
        width: 100%;
        height: 420px;
    }
  }