@import url("https://fonts.googleapis.com/css?family=Gabarito:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --font-gabarito: "Gabarito", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--font-gabarito);
  background-color: #212426;
}

.app {
  margin: 0 auto;
  padding: 2.5rem;
  padding-top: 1rem;
  max-width: 1536px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center-content {
  margin-top: 3rem;
  text-align: center;
}

.center-content p {
  margin: 2rem 0 4rem;
  color: #f0f0f0;
}

nav {
  margin: 0 auto;
  padding: 2.5rem 2.25rem;
  padding-bottom: 0;
  width: 90%;
  max-width: 1360px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  gap: 1rem;
  font-family: var(--font-gabarito);
  text-transform: uppercase;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.nav-links a:hover {
  color: #f9d3b4;
}

.nav-links a:active {
  color: #9a826f;
}

.languages {
  font-family: var(--font-gabarito);
  color: #fff;
}

.languages span {
  margin: 0 .4rem;
  padding: .4rem .9rem;
  border-radius: 8px;
  background: none;
  cursor: pointer;
}

.languages span.activated {
  background: #343739;
}

.languages span:hover {
  background: #1c1d1f;
}

.languages span:active {
  background: #343739;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: linear-gradient(
    90deg,
    rgba(249, 211, 180, 1) 0%,
    rgba(249, 211, 180, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.search {
  max-width: 920px;
  width: 71%;
  margin: 4rem 0 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.5rem 1.75rem;
  border-radius: 3rem;
  background: #1f2123;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}

.search input {
  flex: 1;
  border: none;
  font-size: 1.5rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;

  outline: none;
  color: #a1a1a1;
  background: #1f2123;
}

.search img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

/* .search button {
  padding: 20px 40px;
  border-radius: 0.5rem;
  margin-left: 15px;
  color: #a1a1a1;
  font-family: var(--font-raleway);
  font-weight: 900;
  letter-spacing: 0.75px;
  font-size: 1.25rem;
  cursor: pointer;
  background: #1f2123;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
} */

.search-results {
  width: 100%;
  margin-top: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.search-results h2 {
  font-size: 1.25rem;
  color: #f9d3b4;
  font-family: var(--font-raleway);
}

.container {
  width: 100%;
  margin-top: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .links {
  color: #f9d3b4;
  text-decoration: none;
}

.movie {
  width: 290px;
  height: 440px;
  margin: 1.5rem;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;
  background-color: #1f2123;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.movie div:nth-of-type(1) {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
  color: #f9d3b4;
}

.movie div:nth-of-type(2) {
  width: 100%;
  height: 100%;
}

.movie div:nth-of-type(2) img {
  height: 100%;
  width: 100%;
}

.movie div:nth-of-type(3) {
  z-index: 2;
  background-color: #343739;
  padding: 16px 24px 24px 24px;
  
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.movie div:nth-of-type(3) span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f0f0f0;
}

.movie div:nth-of-type(3) h3 {
  margin-top: 5px;
  font-family: var(--font-raleway);
  color: #f9d3b4;
}

.movie-details-container {
  position: relative;
  margin: 2rem auto;
  padding: 2rem;
  width: 90vw;
  max-width: 1024px;
  background-color: #1c1d1f6d;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
}

.movie-details-container .movie-banner {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-details-container .movie-poster {
  max-width: 250px;
}

.movie-content {
  width: 100%;
}

.movie-content h1 {
  background: none;
  background-clip: none;
  -webkit-background-clip: none;
  -webkit-text-fill-color: unset;

  color: #f9d3b4;
  text-shadow: 0 0 3px #1c1d1f;
}

.movie-content .movie-facts {
  margin: .2rem 0 1rem;
}

.movie-content p, .movie-details-container h2, .movie-trailer-button, .movie-cast h2, .cast-people p {
  color: #f0f0f0;
  text-shadow: 0 0 3px #1c1d1f;
  line-height: 150%;
}

.movie-content h2, .movie-cast h2 {
  margin-bottom: .2rem;
}

.movie-trailer-button-container {
  margin-top: 2rem;
  width: 100%;
  text-align: right;
}

.movie-trailer-button {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;

  cursor: pointer;
  transition: color .2s;
}
.movie-trailer-button:hover {
  color: #a1a1a1;
}

.movie-cast {
  margin-bottom: 4rem;
  padding: 1rem 2rem;
  width: 90vw;
  max-width: 1024px;
  min-height: 200px;
  background: #1c1d1f;
  border-radius: 10px;
}

.cast-people {
  margin-top: .5rem;
  padding-bottom: 1rem;
  display: flex;
  overflow-x: scroll;
  gap: 1.5rem;
}

.cast-person {
  position: relative;
}

.movie-cast img {
  width: 180px;
  padding-bottom: 3rem;
  border-radius: 8px;
}

.cast-person p {
  position: absolute;
  bottom: 0;
  padding: .5rem .5rem 0;
  width: 100%;
  height: 90px;
  line-height: 120%;
  background: #222527;
  border-radius: 0 0 8px 8px;
}

.cast-person-name {
  color: #a1a1a1;
  font-size: .9em;
}

.pagination {
  margin: 1.5rem 0 3.5rem;
}

.pagination span.arrow, span.page-index {
  padding: 1rem;
  color: #f9d3b4;
  font-family: var(--font-raleway);
}

.pagination span.page-index {
  font-weight: 500;
  font-size: 1.7rem;
  cursor: default;
}

.pagination span.arrow {
  font-weight: 800;
  font-size: 2rem;
  cursor: pointer;
}

.pagination span.arrow:hover {
  color: #9a826f;
}

footer {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 1.5rem;
  width: 100%;
  background-color: #1c1d1f;
  color: #f9d3b4;
  
  display: flex;
  justify-content: center;
}

.movie-trailer-modal {
  position: fixed;
  inset: 0;
  z-index: 298;
  width: 100%;
  height: 100%;
  background: #1c1d1fb2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-close-modal-container {
  max-width: 720px;
  width: 100%;
  padding: 1rem 1.5rem;
  background: #000;
  font-size: 1.2rem;
  color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-close-modal {
  width: 2.2rem;
  background: none;
  border: none;
  border-radius: 8px;
  font-size: 2rem;
  color: #f0f0f0;

  cursor: pointer;
  transition: background .2s;
}

.btn-close-modal:hover {
  background: #1c1d1f;
}

.movie-trailer-video {
  max-width: 720px;
  width: 100%;
  height: 420px;
}

/* width */
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media only screen and (min-width: 1024px) {
  .movie:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05, 1.05);
  }

  .movie:active {
    box-shadow: 0 0 18px rgba(0, 123, 255, 0.407);
  }
  
  .movie:hover div:nth-of-type(2) {
    height: 100%;
    opacity: 0.3;
  }
  
  .movie:hover div:nth-of-type(3) {
    background-color: transparent;
  }
  
  .movie:hover div:nth-of-type(1) {
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .movie-details-container {
    font-size: 14px;
  }

  .movie-details-container .movie-poster {
    width: 200px;
  }

  .movie-details-container h1 {
    font-size: 2.5em;
  }

  .movie-details-container h2, .movie-cast h2{
    font-size: 1.2em;
  }

  .movie-cast img {
    width: 150px;
  }
  
  .cast-person p {
    font-size: 14px;
  }
}

@media screen and (max-width: 700px) {
  .app {
    padding: 2rem 2rem 4rem 2rem;
  }
  
  nav {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .search {
    margin-top: 1rem;
  }

  .search-results {
    margin-top: 1rem;
  }
  
  .container {
    margin-top: 1rem;
  }

  .search input {
    font-size: 1rem;
  }
  
  .search img {
    width: 20px;
    height: 20px;
  }

  .movie-details-container {
    width: 100%;
    flex-direction: column;
  }

  .movie-details-container .movie-banner {
    height: 370px;
  }

  .movie-details-container h1 {
    margin-top: 1.5rem;
  }

  .cast-person p {
    font-size: 13px;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding: 2rem 1rem 4rem 1rem;
  }
  
  h1 {
    padding-top: 2rem;
    font-size: 2rem;
  }
  
  .search {
    margin-top: 1rem;
  }
  
  .search-results {
    margin-top: 1rem;
  }
  
  .container {
    margin-top: 1rem;
  }
  
  .movie {
    width: "100%";
    margin: 1rem;
  }

  .movie-details-container h1 {
    margin-top: 0;
  }

  .movie-cast img {
    width: 120px;
  }
  
  .cast-person p {
    font-size: 12px;
  }
}