@import "./variables";

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: $font-gabarito;
  background-color: #212426;
}

.app {
  margin: 0 auto;
  padding: 2.5rem;
  padding-top: 1rem;
  max-width: 1536px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: linear-gradient(
    90deg,
    rgba(249, 211, 180, 1) 0%,
    rgba(249, 211, 180, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

@media screen and (max-width: 700px) {
  .app {
    padding: 2rem 2rem 4rem 2rem;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding: 2rem 1rem 4rem 1rem;
  }

  h1 {
    padding-top: 2rem;
    font-size: 2rem;
  }
}